/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Button/Button.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__mg_cR {
    transition: all 0.2s;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.Button_primary__PFIP8 {
    color: var(--white);
    background-color: var(--primary);
}

.Button_primary__PFIP8:hover {
    background-color: var(--primary-hover);
}

.Button_ghost__VE_C_ {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light)
}

.Button_ghost__VE_C_:hover {
    color: var(--white);
    background-color: var(--primary);
}

.Button_arrow__9H3gW {
    display: inline-block;
    margin-left: 10px;
}

.Button_down__B10xD {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.Button_primary__PFIP8 svg,
.Button_ghost__VE_C_:hover svg {
    fill: var(--white);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Htag/Htag.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Htag_h1__JRc3a {
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
}

.Htag_h2__ZnbzO {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}

.Htag_h3__zc7qQ {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Rating/Rating.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Rating_filled__xLX0N svg {
    fill: var(--primary);
}

.Rating_star__ObkYs svg {
    margin-right: 5px;
}

.Rating_editable__JB7Ce {
    cursor: pointer;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Tag/Tag.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Tag_tag__9IK3Z {
    display: inline-block;
    margin-right: 5px;
    border-radius: 20px;
}

.Tag_s__wzSCN {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
}

.Tag_m__Wvwoc {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
}

.Tag_ghost__zlyRm {
    border: 1px solid var(--gray-light);
}

.Tag_red__H5y0H {
    color: var(--white);
    background: #DE0000;
    font-weight: bold;
}

.Tag_grey__w_DyZ {
    color: var(--white);
    background: #B3C0D9;
    font-weight: bold;
}

.Tag_green__ZLBHl {
    color: var(--green);
    background: var(--green-light);
    font-weight: bold;
}

.Tag_primary__Q9fZg {
    color: var(--primary);
    background: none;
    border: 1px solid var(--primary);
}
